<%- include("partials/header", {
	"title": "Event Participant"
}) %>

<style type="text/css">
	#top {
	}

	#top h1 {
		flex: 1;
	}

	#top button {
		margin-left: 20px;
		max-height: 50px;
	}

	#calendar {
	}

	#top, #calendar, #bottom {
		display: flex;
		max-width: 1032px;
		margin: auto;
		padding-top: 20px;
	}

	form {
		flex: 2;
		margin-bottom: 20px;
	}

	#organizer {
		flex: 1;
	}
</style>

<div id="top">
	<h1>Make an Event</h1>
	<button>Cancel</button>
	<button id="submit">Submit</button>
</div>

<%- include("partials/calendar", {
	"startDate": startDate,
	"interactable": true
}) %>

<div id="bottom">
	<form>
		<h1><%= event.name %></h1>
		<p><%= event.description %></p>
		<!-- <label>URL for Icon</label><br>
		<input type="text" id="icon_url"> -->
	</form>

	<div id="organizer">
		<h1>Organizer</h1>
		<p>
			<%= event.organizer.name %><br>
			<%= event.organizer.email %>
		</p>
	</div>

	<script type="text/javascript">
		function main() {
			$("#submit").click(function (e) {
				const payload = {
					timesAvailable: timesSelected
				};

				$.post("/participate/<%= event.id %>", payload, function (err, data) {
					if (err) {console.log(`err: ${err}`);}
					window.location = '/dashboard';
				});

				console.log(`JSON.stringify(payload): ${JSON.stringify(payload)}`);
			})
		}
	</script>
</div>

<%- include("partials/footer") %>